@using System.Collections

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<string>

<div class="d-grid gap-2">
    @foreach (string c in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(c == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-category="@c" asp-route-color="" asp-route-pageNum="1">@c</a>
    }
</div>