<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEGO BUILD</title>
    <!-- CSS / Bootstrap -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.rtl.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.rtl.css">
    <link rel="stylesheet" href="~/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="~/css/bootstrap-utilities.rtl.css">
    <link rel="stylesheet" href="~/css/bootstrap.rtl.css">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
   
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="~/lib/Legobuild (7).png">

</head>
<body>
    <header class="bg-yellow">
        <nav>
            <a class="nav-end nav-left" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/legoLogo.png" />
            </a>
            <div id="nav-link-container">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>

            
        </nav>
    </header>

    <div class="body-container">
      <main role=“main” class="pb-3">
        @* <div class=“circle”>
            <iframe src=“https://sestes-opa.rightnowdemo.com/web-determinations/startsession/LegoProductGuide-DeclarativeRules”></iframe>
        </div> *@
      @RenderBody()
    </main>
    </div>

    <footer>
        <p>&copy; 2024 - Intex</p>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.Partial("_CookieConsentPartial")
</body>
</html>