<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEGO BUILD</title>
    <!-- CSS / Bootstrap -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="bg-yellow">
        <nav>
            <a class="nav-end nav-left" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/legoLogo.png"/>
            </a>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>            
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="body-container">
        <main role="main" class="content-center-column">
            @RenderBody()
        </main>
    </div>    @Html.Partial("_CookieConsentPartial")

    <footer>
        <p>&copy; 2024 - Intex</p>
        <p>Group 3-11 this</p>
        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
