
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>title</title>
    <link rel="stylesheet" href="~/css/admin.css"></link>
</head>
<body>
<div class="admin-nav-container">
    <a class="admin-nav" asp-area="" asp-controller="Home" asp-action="EditProducts">Edit Products</a>
    <a class="admin-nav" asp-area="" asp-controller="Home" asp-action="EditUsers">Edit Users</a>
    <a class="admin-nav" asp-area="" asp-controller="Home" asp-action="ReviewOrders">Review Fraud Charges</a>
</div>
</body>
</html>