@model ListViewModel

<h2>View Our Highest Rated Products this worked</h2>

<div id="listContainer">
    @foreach (Product p in Model.Products)
    {
        <div>
            <a href="@Url.Action("ProductDetail", "Home", new { id = p.ProductId })">
                <img src="@p.ImgLink" width="300px" />
                <h7>@p.Name</h7>
            </a>
        </div>        
    }
</div>
