@using Intex.Infrastructure;
@model ListViewModel

<h1>All Products</h1>

<div class="container-top-products">
    @foreach (Product p in Model.Products)
    {
        <div class="product">
            <img src="@p.ImgLink"/>
            <h3 class="product-name">@p.Name</h3>
            <a href="@Url.Action("ProductDetail", "Home", new { id = p.ProductId })">View Product</a>
        </div>
    }
</div>

@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a> *@
<div id="paginationNavigation" page-model="@Model.PaginationInfo" page-action="Products" page-class-enabled="true" page-class-normal="normal-page-btn" page-class-selected="selected-page-btn"></div>