@using Intex.Infrastructure
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@model Product


<form id=@Model.ProductId method="post" asp-page="/Cart">
<input type="hidden" asp-for="ProductId" />
<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
<button type="submit" class="btn-outline-success btn-sm float-end">Submit</button>
</form>