.admin-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  border: 2px solid var(--color-yellow);
  border-radius: 50px;
  margin: auto;
  padding: 20px;
}

.admin-nav {
  color: black;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease-in-out;
}

.admin-nav:hover {
  text-decoration: underline black;
}
