.btn, button, input {
    background: #d6d6d6;
    border: 1px solid transparent;
    border-radius: 10em;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .04em;
    margin: .15em .1em;
    min-width: 1.5em;
    padding: .4em .8em .2em;
    text-transform: uppercase;
    vertical-align: top;
}

.btn, button, input, textarea {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}