:root {
    --color-yellow: #ffde5a;
    --color-blue: #145da0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    min-height: 100vh;
}

h1 {
    font-family: "Rubik Mono One", Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

header.bg-yellow {
    background-color: var(--color-yellow);
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 0 50px 0;
}

    header nav .nav-end {
        width: 200px;
        height: 100%;
        background-color: var(--color-blue);
    }

    header nav .nav-left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        header nav .nav-left img {
            /* width: 50px; */
            height: 70%;
        }

    header nav .nav-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

        header nav .nav-right a {
            /* padding: 10px 15px; */
            text-decoration: none;
            color: white;
            text-decoration: underline transparent;
            transition: text-decoration 0.3s ease-in-out;
        }

            header nav .nav-right a:hover {
                text-decoration: underline white;
            }

    header nav ul {
        background-color: white;
        padding: 10px 20px;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
    }

        header nav ul li {
            padding: 10px 15px;
        }

            header nav ul li a {
                /* padding: 10px 15px; */
                text-decoration: none;
                color: black;
                text-decoration: underline transparent;
                transition: text-decoration 0.3s ease-in-out;
            }

                header nav ul li a:hover {
                    text-decoration: underline black;
                }

div.body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 350px);
}

main.content-center-column {
    width: 80%;
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #c2c2c2;
    margin: 100px 0 0 0;
    /*position: fixed;
    left: 0;
    bottom: 0;*/
}

    footer p {
        padding: 0 25px;
    }

/* 
footer p {
  color: white;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/*Login*/
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.container-top-products {
    display: flex; /* Use flexbox */
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 10px; /* Add padding to create space between container edges and products */
    justify-content: center; /* Center items horizontally */
    align-items: center;
}

.product {
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 20px; /* Add padding to create space between products */
    float: left; /* Float the product items to align them horizontally */
}

.product-name {
    color: #155793;
    justify-content: center;
}

h2 {
    font-family: "Rubik Mono One", Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
