:root {
  --color-yellow: #ffde5a;
  --color-blue: #145da0;
  --color-red: #d2272e;
  --color-lightgrey: #c5c5c5;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 !important;
  min-height: 100vh;
  min-width: 1250px;
}

h1 {
  font-family: "Rubik Mono One", Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

#title-main {
  font-size: 5em;
  background-color: var(--color-yellow);
  border-radius: 150px;
  padding: 20px 0;
  margin: 75px 0;
}

#title-main > span:nth-child(1) {
  color: var(--color-blue);
}

#title-main > span:nth-child(2) {
  color: var(--color-red);
}

h2.subtitle-main {
  margin: 100px 0 50px 0px;
  text-align: center;
}

iframe {
  display: none;
}

header.bg-yellow {
  background-color: var(--color-yellow);
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 0 50px 0;
}

header nav .nav-end {
  width: 200px;
  height: 100%;
  background-color: var(--color-blue);
}

header nav .nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav .nav-left img {
  height: 70%;
}

header nav #nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

header nav ul {
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

header nav ul li {
  padding: 10px 15px;
}

header nav ul li p {
  margin: 0;
}

header nav ul li a,
header nav ul li form button,
footer a {
  /* padding: 10px 15px; */
  font-size: 1em;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: black;
  text-decoration: underline transparent;
  transition: text-decoration 0.3s ease-in-out;
  cursor: pointer;
  margin: 0;
}

header nav ul li a:hover,
header nav ul li form button:hover,
footer a:hover {
  text-decoration: underline black;
}

div.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 350px);
}

main.content-center-column {
  width: 80%;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #c2c2c2;
  margin: 100px 0 0 0;
}

footer p,
footer a {
  padding: 0 25px;
}

/* 
footer p {
  color: white;
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/*Login*/
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.container-top-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00000079;
}

.product img {
  width: 175px;
  height: 200px;
  object-fit: contain;
}

.product-name {
  max-width: 150px;
  height: 2.3em;
  overflow: hidden;
}

.product a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  background-color: var(--color-blue);
  text-decoration: underline transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.product a:hover {
  background-color: transparent;
  color: var(--color-blue);
}

h2 {
  margin: 50px 0 0 0;
  font-family: "Rubik Mono One", Arial, sans-serif;
  font-size: 1.5rem;
}

.review-orders-cols-names {
  font-size: 0.75em;
}

.review-orders-cols-names > th {
  padding: 0 10px;
}

#paginationNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0 0 0;
}

#paginationNavigation a {
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

#paginationNavigation a:hover {
  border: 1px solid var(--color-blue);
}

.normal-page-btn {
  background-color: var(--color-lightgrey);
}

.selected-page-btn {
  background-color: var(--color-blue);
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-details img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 50vh;
}

.product-details-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
